[submodule "src/github.com/cloudfoundry/cli"]
	path = src/github.com/cloudfoundry/cli
	url = https://github.com/cloudfoundry/cli
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/github.com/pivotal-golang/lager"]
	path = src/github.com/pivotal-golang/lager
	url = https://github.com/pivotal-golang/lager
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = http://github.com/bmizerany/pat
[submodule "src/github.com/dghubble/sling"]
	path = src/github.com/dghubble/sling
	url = https://github.com/dghubble/sling
[submodule "src/github.com/vito/gosub"]
	path = src/github.com/vito/gosub
	url = https://github.com/rosenhouse/gosub
[submodule "src/github.com/codegangsta/cli"]
	path = src/github.com/codegangsta/cli
	url = https://github.com/codegangsta/cli
